<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("__bootstrap_lib.ejs") %>
</head>
<body>
   <%- include("__header.ejs") %>
<br>

<div class="container-fluid">
  <h3>About us</h3>
  <p>The navbar-expand-xl|lg|md|sm class determines when the navbar should stack vertically (on extra large, large, medium or small screens).</p>
</div>

</body>
</html>
